<h2>タスク詳細画面</h2>
<p>タスク名: <%= @task.task_name%></p>
<p>タスク詳細: <%= @task.task_details %></p>
<p>終了期限: <%= @task.deadline%></p>
<p>状態: <%= @task.status%></p>
<p>優先順位: <%= @task.priority%></p>
<p>作者: <%= @task.author%></p>
